div.modal-inner {overflow:hidden;} 

input#edit-islandora-simple-search-query{padding-bottom: 0px; padding-top: 0px; height: 28px;}
.block-title {text-transform: none;}
.block h2, h2 {border-bottom: 4px solid #006747; }
h1#page-title, h1#page-title {color: #006747;}
.block h2{margin-bottom:10px;}

.islandora-solr-facet-wrapper h4{font-size:1.1em;}

div#logo img {
    margin-left: 20px;}

/*CUSTOM STYLES INPUT and OVERIDES. OTHER CSS FOUND IN ADAPTIVETHEME/ISLANDORATHEME AND COROLLA CSS FILES.*/

/*------------Page Wide Styles------------*/
th, thead, thead th { background-color: #dedede; color: #280007; }


/*------------Header------------*/
div#header-wrapper div#branding {
background: #ffffff; 
}
#logo {display: block; text-align: left; }


/*--------------"SEARCH IN" Bar----------------*/
div#top-panels-wrapper .three-3x33 {background: #000000;
}
section#block-islandora-solr-simple {margin-top: -16px;}
div#top-panels-wrapper {height: 40px;}
section#block-islandora-solr-simple h2 {
    color: white; border-bottom: 2px solid white; font-size: 1.2em;} /*Search in text color*/
div#edit-simple label{color:white;} /*'for' color*/
/* Basic Search Styles */
#islandora-basic-view-all-option { border-bottom: 4px solid #ffffff; }/*???*/

/* Trying to get search in not to overlap menu on a narrow screen */

.at-panel {clear: both;}
.region-three-33-top .region-inner {background: #000000;}
#block-islandora-solr-simple { float: left;}
section#block-islandora-solr-simple {margin-bottom: -10px;}

/* ------------Menu Bar Styles------------ */
#menu-bar {background: #006747;
}
#menu-bar a{text-transform: uppercase; letter-spacing: 2px; weight: 400; padding:8px;}
.nav .block-menu ul li a.active { background-color: white; }
ul.vertical-tabs-list li a { color: #006747; }
.nav .block-menu ul.menu li a { color: #ffffff;}
.nav .block-menu ul.menu li a:hover { color: #ffffff;}
.nav .block-menu ul.menu li a.active { color: #006747; text-shadow:none;}


/*------------Highlighted Region------------*/
div.region-highlighted {
background: #ffffff;}
div.region-highlighted p{color: black;} /*highlighted text colors*/
div.region-highlighted .block-title {bottom-border: 4px solid #000000;} /*border bottom*/
section#block-block-3 {margin-right: 440px;}

section#block-block-1 {
    padding: 1%;
    max-width: 700px;
    min-width: 270px;
    margin: 1%;
    width: 55%;
    border-radius: 5px;
    clear:none;
}

section#block-block-2 {
    padding: 1%;
    margin: 1%;
    max-width: 470px;
    min-width: 250px;
    width: 40%;
    border-radius: 5px;
clear: none;
}

/*------------Main Content------------*/
.block-title {margin-bottom: 10px; border-bottom: 4px solid #006747;}
#main-content h1#page-title { font-size: 1.4em; border-bottom: 4px solid #006747; padding-bottom: 7px; }
div#content h2, div#secondary-content-wrapper h2 { font-size: 1.2em; border-bottom: 4px solid #006747; }


/* ------------Footer Styles------------ */
div#footer-wrapper .block-inner {
background: #006747;}
#footer-wrapper .block-inner { color: white; }
#footer-wrapper .block-inner a { color: white; }




/*View All Items - Query Results*/
/*------------Narrow Results - Sort Results Blocks------------*/

.ui-widget-content a { color: #000000; }
div.region-sidebar-first div.block-inner {background-color: #F7F7F7;}
section#block-islandora-solr-sort div.block-inner {background-color: #dedede; color: #006747;}
section#block-islandora-solr-sort div.block-inner .block h2{border-bottom: #006747;}
section#block-islandora-solr-sort div.block-inner .block-title{color:#006747; border-bottom: 4px solid #006747;} 
section#block-islandora-solr-sort a{color:#006747;}
.ui-widget-header {background: #006747; }/*???*/

/*----Islandora collections/objects-----*/
/* Collection Description Styles */
#secondary-content-wrapper .block-inner { background-color: #ffffff; color: black;}

/* Collection Browse Styles -"Search this Collection" box */
#local-collection-search #local-search-container, #secondary-content-wrapper #local-search-container { border: 1px solid #000000; background-color: #F7F7F7; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

/*------------Object Level Styles------------*/
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #006747;
	}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
background: #cfc493;} /*Object Tab -Inactive*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
background: white;/*Object Tab -Active*/
}


/*Additional tweaks*/
input.form-button, input.form-submit {
    padding: 3px 11px; margin-top:-1px;}/*Go button mod*/

.islandora-compound-prev-next { color: black;}
.islandora-compound-prev-next a{ color: black;}


div.islandora-video-content {width:480px;}
div.islandora-audio-content {width:480px;}