div.modal-inner {overflow:hidden;} 

ul.vertical-tabs-list li a {
    color: #000000;}

/*Site-Specific tweaks*/
.bb-n {
    background-image: url('http://www.uflib.ufl.edu/images/tsbackground_body.jpg');
background-repeat:repeat-x;
background-color: #ffffff;
}

div#top-panels-wrapper {
    height: 43px;
}
#block-islandora-solr-simple {
    margin: -20px 0 2px 20px;
margin-top: -17px;
}
div.region region-highlighted{border: 1px solid black;}
/*END Site-Specific tweaks*/


/*CUSTOM STYLES INPUT and OVERIDES. OTHER CSS FOUND IN ADAPTIVETHEME/ISLANDORATHEME AND COROLLA CSS FILES.*/

/*------------Page Wide Styles------------*/
th, thead, thead th { background-color: #dedede; color: #280007; }

/*PERSISTENT/FRONT-ADV.SEARCH/TOP LEVEL STYLES. Header - Footer*/

/*------------Header------------*/
div#header-wrapper div#branding {
background: #003896;
}
#logo { padding-top: 5px; display: block; text-align: left; }


/*--------------"SEARCH IN" Bar----------------*/
div#top-panels-wrapper .three-3x33 {background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 52%, #d7def0 80%, #ff4a00 85%, #ff4a00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(52%,#ffffff), color-stop(80%,#d7def0), color-stop(85%,#ff4a00), color-stop(100%,#ff4a00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 52%,#d7def0 80%,#ff4a00 85%,#ff4a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 52%,#d7def0 80%,#ff4a00 85%,#ff4a00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 52%,#d7def0 80%,#ff4a00 85%,#ff4a00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 52%,#d7def0 80%,#ff4a00 85%,#ff4a00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff4a00',GradientType=0 ); /* IE6-9 */

}
section#block-islandora-solr-simple h2 {
    color: #003896; border-bottom: 4px solid #003896;} /*Search in text color*/
div#edit-simple label{color:#003896;} /*'for' color*/

/* Basic Search Styles */
#islandora-basic-view-all-option { border-bottom: 4px solid #ffffff; }/*???*/

/* Trying to get search in not to overlap menu on a narrow screen */

.at-panel {clear: both;}
.region-three-33-top .region-inner {background: #ffffff;}
#block-islandora-solr-simple { float: left;}
section#block-islandora-solr-simple {margin-bottom: -10px;}

/* ------------MENU BAR STYLES------------ */
#menu-bar {background: #003896;
}
.nav .block-menu ul li a.active { background-color: white; }
.nav .block-menu ul.menu li a {
    color: #FFFFFF;
}
.nav .block-menu ul.menu li a { color: #ffffff;}
.nav .block-menu ul.menu li a:hover { color: white}
.nav .block-menu ul.menu li a.active { color: #003896; }

#menu-bar .menu-wrapper, #primary-menu-bar .menu-wrapper{font-family: Georgia,'Palatino Linotype', Palatino, 'Book Antiqua', serif; font-weight: bold;}


/*------------HIGHLIGHTED REGION------------*/
div.region-highlighted {
border-right: 1px solid #CCCCCC;
border-left: 1px solid #CCCCCC;
background: #ffffff;}
div.region-highlighted {color: black;} /*highlighted text colors*/
div.region-highlighted .block-title {color: black; border-bottom: 4px solid #003896;}/*border bottom*/

section#block-block-1 {
    padding: 1%;
    max-width: 700px;
    min-width: 270px;
    margin: 1%;
    width: 55%;
    border-radius: 5px;
    clear:none;
}

section#block-block-2 {
    padding: 1%;
    margin: 1%;
    max-width: 470px;
    min-width: 250px;
    width: 40%;
    border-radius: 5px;
clear: none;
}

/*------------MAIN CONTENT------------*/
.block-title { font-size: 1.1em; margin-bottom: 10px; border-bottom: 4px solid #000000;}
#main-content h1#page-title { font-size: 1.4em; border-bottom: 4px solid #000000; padding-bottom: 7px; }
div#content h2, div#secondary-content-wrapper h2 { font-size: 1.2em; border-bottom: 4px solid #000000; }
.content-style {border-right: 1px solid #CCCCCC;
border-left: 1px solid #CCCCCC;}


/* ------------FOOTER STYLES------------ */
div#footer-wrapper .block-inner {
background: #003896;}
#footer-wrapper .block-inner {
    color: #FFFFFF;}
	
#footer-wrapper .block-inner a.active{color: #ffffff;}
#footer-wrapper .block-inner li a {color: #ffffff;}
	


/*!!END PERSISTENT/FRONT-ADV.SEARCH/TOP LEVEL STYLES. Header - Footer!!*/


/*VIEW ALL ITEMS - QUERY RESULTS*/
/*------------Narrow Results - Sort Results Blocks------------*/
.nav .block-menu ul li a, .nav .block-menu ul li a:visited { font-weight: bold; }
.ui-widget-content a { color: #000000; }
div.region-sidebar-first div.block-inner { background: #dedede; }
section#block-islandora-solr-sort div.block-inner { background: #efefef; }
.ui-widget-header {background: #003896; }/*???*/


/*----ISLANDORA COLLECTIONS/OBJECTS-----*/
/* Collection Description Styles */
#secondary-content-wrapper .block-inner { background-color: #ffffff; color: black; text-shadow: none; }

/* COLLECTION BROWSE STYLES -"SEARCH THIS COLLECTION" BOX */
#local-collection-search #local-search-container, #secondary-content-wrapper #local-search-container { border: 1px solid #000000; background-color: #e3e3e3; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

/*------------OBJECT LEVEL STYLES------------*/
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #005596;
	}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
background: #e3e3e3; /* Old browsers */
background: -moz-linear-gradient(top, #e3e3e3 0%, #8c8b8b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#8c8b8b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e3e3e3 0%,#8c8b8b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e3e3e3 0%,#8c8b8b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e3e3e3 0%,#8c8b8b 100%); /* IE10+ */
background: linear-gradient(to bottom, #e3e3e3 0%,#8c8b8b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#8c8b8b',GradientType=0 ); /* IE6-9 */
}/*Object Tab -Inactive*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
background: white;/*OBJECT TAB -ACTIVE*/
}

/*---------END OBJECT LEVEL STYLES------------*/
/*----END Islandora collections/objects-----*/

/*Additional tweaks*/
input.form-button, input.form-submit {
    padding: 3px 11px;}/*Go button mod*/

.islandora-compound-prev-next { color: white;}
.islandora-compound-prev-next a{ color: white;}

/*END Additional tweaks*/

/*audio/video template jwplayer size DO NOT REMOVE */
@media all and (min-width: 768px) {
body.no-sidebars div.islandora-audio-content {
    float: none;
    width: 480px;
}}
@media all and (min-width: 768px) {
body.no-sidebars div.islandora-video-content {
    float: none;
    width: 480px;
}}

div.region-three-33-top {
    margin: 0 20px;
    padding: 0 0 0;
}

#main-content h1#page-title {
    border-bottom: 4px solid #003896;}