div.modal-inner {overflow:hidden;} 

.islandora-audio-thumbnail img{max-width: 200px; float: right;}

#block-flvc-custom-display-flvc-custom-display a{color:#b2cce5;}
#block-flvc-custom-display-flvc-custom-display a:hover{color:#6699CC;}

.islandora-basic-collection-object dt img {
    box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.75);
}

.islandora-solr-search-results .solr-thumb img { 
-webkit-box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.75);
}

/*Button Shrink*/
input.form-button, input.form-submit {
    padding: 3px 11px;}

/*Page Wide Styles*/
th, thead, thead th { background-color: #dedede; color: #000000; }
h2 {font-family:palatino;}
body{font-family: Palatino,'Palatino Linotype', Georgia,Baskerville,'Book Antiqua','Times New Roman',serif}

/*Header*/
div#header-wrapper div#branding, #footer-wrapper .block-inner { 
  background: #003366;
}
#logo { padding-top: 5px; display: block; text-align: left; }

/* Basic Search Styles */
#islandora-basic-view-all-option { border-bottom: 4px solid #003366; }
.region-three-33-top .block h2, .region-three-33-top .block label { color: black; font-family: palatino; }

/* Menu Bar Styles */
#menu-bar { background-color: black;}
.nav .block-menu ul li a.active { background-color: white; }
ul.vertical-tabs-list li a { color: white; }
.nav .block-menu ul.menu li a { color: white; font-family: palatino;}
.nav .block-menu ul.menu li a.active { color: black; }

/* Collection Description Styles */
#secondary-content-wrapper h2.block-title { color: white; font-family: palatino; }
#secondary-content-wrapper .block-inner { 
background: #003366; /* Old browsers */
background: -moz-linear-gradient(top, #003366 0%, #081138 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003366), color-stop(100%,#081138)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #003366 0%,#081138 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #003366 0%,#081138 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #003366 0%,#081138 100%); /* IE10+ */
background: linear-gradient(to bottom, #003366 0%,#081138 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#081138',GradientType=0 ); /* IE6-9 */
color: white; 
text-shadow: none; 
}

/* Collection Browse Styles */
#local-collection-search #local-search-container, #secondary-content-wrapper #local-search-container { border: 1px solid #000000; background-color: #EFEFEF; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
h2.local-collection-search-title {color: black;
}

/*Main Content*/
.block-title { font-size: 1.1em; border-bottom: 4px solid #003366; margin-bottom: 10px; }
#main-content h1#page-title { font-size: 1.4em; border-bottom: 4px solid #CC0000; padding-bottom: 7px; }
div#content h2, div#secondary-content-wrapper h2 { font-size: 1.2em; border-bottom: 4px solid #003366; }
div.region-highlighted #block-block-3 { max-width: 600px; }
.page-islandora-object-fauroot .region-highlighted, .page-islandora-object-fauroot .region-highlighted .block h2 { color: white; }
div.region-highlighted {
background: #003366; /* Old browsers */
background: -moz-linear-gradient(top, #003366 0%, #081138 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003366), color-stop(100%,#081138)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #003366 0%,#081138 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #003366 0%,#081138 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #003366 0%,#081138 100%); /* IE10+ */
background: linear-gradient(to bottom, #003366 0%,#081138 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#081138',GradientType=0 ); /* IE6-9 */
}
div#top-panels-wrapper .three-3x33 { background-color: #CCCCCC; border-top: 3px solid #c00; }
div#top-panels-wrapper {height: 46px;}
section#block-islandora-solr-simple {margin-top: -15px;}
#edit-islandora-simple-search-query {margin-top: -2px;}
.nav .block-menu ul li a, .nav .block-menu ul li a:visited { font-weight: bold; }
.ui-widget-content a { color: #003366; }
div.region-sidebar-first div.block-inner { background: #dedede; }
section#block-islandora-solr-sort div.block-inner { background: #efefef; }
.ui-widget-header { background: #003366; }
/*Object Level Styles*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f9f9 0%, #f2f2f2 40%, #c8c8c8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(40%,#f2f2f2), color-stop(100%,#c8c8c8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 40%,#c8c8c8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 40%,#c8c8c8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 40%,#c8c8c8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f9f9 0%,#f2f2f2 40%,#c8c8c8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-9 */
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
background: white;
}
/* Footer Styles */
#footer-wrapper .block-inner { color: white; }
#footer-wrapper .block-inner a { color: white; }


/*audio/video template jwplayer size DO NOT REMOVE */
@media all and (min-width: 768px) {
body.no-sidebars div.islandora-audio-content {
    float: none;
    width: 480px;
}}
@media all and (min-width: 768px) {
body.no-sidebars div.islandora-video-content {
    float: none;
    width: 480px;
}}

div.islandora-video-content {width:480px;}
div.islandora-audio-content {width:480px;}

/*Slideshow*/
.flexslider { margin-bottom: 0px; border: none; }
.region-highlighted .block-inner { margin-left: 0; margin-right: 0; }
div.region-highlighted { padding: 0; }
div.region-highlighted .block:last-child { margin-bottom: 0; }
.flex-control-nav { display: none; }
.flex-direction-nav a {
    height: 50px;
}



/*digital library and ir splash page block configuration*/
/*left box*/
section#block-block-4 {
    float: left;
    padding: 1%;
    max-width: 470px;
    min-width: 270px;
    margin: 1%;
    width: 45%;
    background-color: WhiteSmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    min-height: 350px;
color: #003366;
    clear:none;
font-family: palantino, serif;
}


section#block-block-4 p {
padding: 5px;
}

section#block-block-4 h2 {

color: #003366;
}

/*right box*/
section#block-block-5 {
    float: left;
    padding: 1%;
    margin: 1%;
    max-width: 470px;
    min-width: 270px;
    width: 45%;
    background-color: WhiteSmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
   min-height: 350px;
clear: none;
font-family: palantino, serif;
color: #003366;
}

section#block-block-5 p {
padding: 5px;
}

/*Page title*/
 article#node-17 h1 {
color: #003366;
font-family: palantino, serif;
}

section#block-block-5 h2 {

color: #003366;
}

#digitalbox {
font-size: 20px;
color: #003366;
text-shadow:2px 2px #e8e8e8;
font-weight: bold;
margin-left: 25%;
}

#digitalbox a {
text-decoration: none;
color:  #003366;
}

#irbox {
font-size: 20px;
color: #003366;
text-shadow:2px 2px #e8e8e8;
font-weight: bold;
margin-left: 20%;
}

#irbox a {
text-decoration: none;
color:  #003366;
}


/*left IR menu*/
#block-block-14 {
background-color: #003366;
    float: left;
   width: 25%;
   min-width: 230px;
    padding: 3px;
   border: grey 1px;
    border-style: solid;
   color: #FFFFFF;
   font-size: 1.5em;
   clear: none;
   margin: 1%;
height: 453px;

}

#block-block-14 ul {
list-style-type: none;
background-color: #003366;
margin: 1%;
height: 99%;
}


#block-block-14 li {
list-style-type: none;
text-align: left;
  border-bottom: 1px solid #D2EDF3;
padding-left: 5px;
background-color: #003366;
text-decoration: none;
color: #D2EDF3;
font-family: palantino, serif;
min-height: 55px;
line-height: 55px;
  }

#block-block-14 ul li a {
display: inline-block;
width: 100%;
height: 100%;
text-decoration:none;
color: #D2EDF3;
}

#block-block-14 li:hover {
background: white;
color: black;
text-decoration: none;
}

#block-block-14 li a {
display: block;
text-decoration:none;
color: #ffffff;
}

#block-block-14 li a:active{
color: #ffffff;
text-decoration: none;

}

#block-block-14 li a:hover {
color: black;
text-decoration: none;
background: white;

}



#block-block-14 li:last-child 
{ border-bottom: none;
 } 

/*IR slideshow*/
#block-views-ir-paage-slideshow-block {
   float:left;
   width: 70%;
   min-width: 230px;
clear: none;
   border: grey 1px;
    border-style: solid;
 margin-top: 1%;
}



/*IR Page Title*/
section#block-block-15 h2 {
visibility:hidden;
max-height: 0px;
}

section#block-block-15 p {
margin-bottom: 0px;
padding-bottom: 5px;}

section#block-block-15 {
color: #003366;
background: #ffffff;
width: 50%;
height:10%;
float: left;
font-size: 1.6em;
font-family: palantino, serif;
clear: none;
}

section#block-block-15 .block-title {
max-height: 0px;
margin-bottom: 0px;
}

section#block-block-15 a {
text-decoration:none;
color: #003366;
}

/*IR Contact Block*/
section#block-block-16 h2 {
visibility:hidden;
max-height: 0px;
}

section#block-block-16 p {
margin-bottom: 0px;
padding-bottom: 5px;}

section#block-block-16 {
color: #003366;
background: #ffffff;
width: 50%;
height:10%;
float: right;
font-size: 1.6em;
text-align: right;
font-family: palantino, serif;
clear: none;
}

section#block-block-16 .block-title {
max-height: 0px;
margin-bottom: 0px;
}

section#block-block-16 a {
color: #003366;
}

#block-views-ir-paage-slideshow-block img{
height: 453px;
width: 100%;
}

/*Page title*/
 article#node-19 h1 {
color: #003366;
font-family: palantino, serif;
}

/* Hide "Status" and "Publications" columns off of faculty grid view */

.views-field-MADS-status-ms
{
	visibility:hidden;
}

.views-field-MADS-u1-ms
{
	visibility:hidden;
}