div.modal-inner {overflow:hidden;} 

.islandora-compound-prev-next a {color:black;}
.islandora-compound-caption {color:black;}
.islandora-compound-title {color:black;}

ul.vertical-tabs-list li a {
    color: #000000;}

/*Site-Specific tweaks*/
.islandora-solr-facet-wrapper a {
    font-size: 1em;}
	
#block-islandora-solr-advanced h2{color:black;}
#block-flvc-custom-display-flvc-custom-display .block-inner {border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC;}


/*Slideshow*/
.flexslider { margin-bottom: 0px; border: none; }
.region-highlighted .block-inner { margin-left: 0; margin-right: 0; }
div.region-highlighted { padding: 0; }
div.region-highlighted .block:last-child { margin-bottom: 0; }
.flex-control-nav { display: none; }



/*CUSTOM STYLES INPUT and OVERIDES. OTHER CSS FOUND IN ADAPTIVETHEME/ISLANDORATHEME AND COROLLA CSS FILES.*/

/*------------Page Wide Styles------------*/
th, thead, thead th { background-color: #dedede; color: #280007; }


/*------------Header------------*/
div#header-wrapper div#branding {
background: -moz-linear-gradient(-45deg,  rgba(0,48,114,0.9) 0%, rgba(11,85,142,1) 5%, rgba(19,114,165,1) 9%, rgba(0,48,114,1) 49%, rgba(0,48,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,48,114,0.9)), color-stop(5%,rgba(11,85,142,1)), color-stop(9%,rgba(19,114,165,1)), color-stop(49%,rgba(0,48,114,1)), color-stop(100%,rgba(0,48,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(0,48,114,0.9) 0%,rgba(11,85,142,1) 5%,rgba(19,114,165,1) 9%,rgba(0,48,114,1) 49%,rgba(0,48,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(0,48,114,0.9) 0%,rgba(11,85,142,1) 5%,rgba(19,114,165,1) 9%,rgba(0,48,114,1) 49%,rgba(0,48,114,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(0,48,114,0.9) 0%,rgba(11,85,142,1) 5%,rgba(19,114,165,1) 9%,rgba(0,48,114,1) 49%,rgba(0,48,114,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(0,48,114,0.9) 0%,rgba(11,85,142,1) 5%,rgba(19,114,165,1) 9%,rgba(0,48,114,1) 49%,rgba(0,48,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6003072', endColorstr='#003072',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#logo { padding-top: 5px; display: block; text-align: left; border-left: 4px solid #ffffff; border-right: 4px solid #ffffff; border-top: 4px solid #ffffff; border-bottom: 4px solid #ffffff; }


/*--------------"SEARCH IN" Bar----------------*/
div#top-panels-wrapper .three-3x33 {background: #ffffff;}
border-left: 4px solid #ffffff; border-right: 4px solid #ffffff;}
section#block-islandora-solr-simple h2 {
    color: #004990; border-bottom: 4px solid #004990;} /*Search in text color*/
div#edit-simple label{color:#004990;} /*'for' color*/

/* Basic Search Styles */
#islandora-basic-view-all-option { border-bottom: 4px solid #004990; }/*View All ?*/

section#block-islandora-solr-simple{margin-top: -6px;}

/* Trying to get search in not to overlap menu on a narrow screen */

.at-panel {clear: both;}
.region-three-33-top .region-inner {background: #ffffff;}
#block-islandora-solr-simple { float: left;}
section#block-islandora-solr-simple {margin-bottom: -10px;}

/* ------------MENU BAR STYLES------------ */
#menu-bar { background-color: #004990; border-left: 4px solid #ffffff; border-right: 4px solid #ffffff;}
.nav .block-menu ul li a.active { background-color: white; text-transform: uppercase; font-weight:bold;}
ul.vertical-tabs-list li a { color: white; text-transform: uppercase; font-weight:bold;}
.nav .block-menu ul.menu li a { color: white; text-transform: uppercase;font-weight:bold;}
.nav .block-menu ul.menu li a.active { color: black; text-transform: uppercase;font-weight:bold; }


/*------------HIGHLIGHTED REGION------------*/
div.region-highlighted {
background: #ffffff;}
div.region-highlighted {color: #363636;} /*highlighted text colors*/
div.region-highlighted .block-title {color: #004990; border-bottom: 4px solid #004990;}/*border bottom*/



/*------------MAIN CONTENT------------*/
.block-title {margin-bottom: 10px; border-bottom: 4px solid #ffffff;}
#main-content h1#page-title { font-size: 1.4em; border-bottom: 4px solid #004990; padding-bottom: 7px; color:#004990; }
div#content h2 { font-size: 1.2em; border-bottom: 4px solid #004990; color:#004990; }
div#secondary-content-wrapper h2{ font-size: 1.2em; border-bottom: 4px solid #cf6108; color:#cf6108; }


/* ------------FOOTER STYLES------------ */
div#footer-wrapper .block-inner {
background: #195b9b;
}
#footer-wrapper .block-inner {
    color: #FFFFFF;}
	
#footer-wrapper .block-inner a{color: #ffffff;}
#footer-wrapper .block-inner li a {color: #ffffff;}
	


/*VIEW ALL ITEMS - QUERY RESULTS*/
/*------------Narrow Results - Sort Results Blocks------------*/
#block-islandora-solr-basic-facets .block-title {border-bottom: 4px solid #004990;}
/*.nav .block-menu ul li a, .nav .block-menu ul li a:visited{ font-weight: bold; color:#004990; }*/
.islandora-solr-sort li a.active:hover { font-weight: bold; color: #cf6108;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-decoration: underline;}
.islandora-solr-sort li a:hover {color: #cf6108;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;}
.islandora-solr-highlight a:hover{color:#333333;}
.ui-widget-content a { color: black; }
div.region-sidebar-first div.block-inner { background: #ffffff; }
section#block-islandora-solr-sort div.block-inner { background: #ffffff; }
.ui-widget-header {background: #004990; }/*that object content bar thing*/
.islandora-solr-sort li a{color: #185ea2;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;}
.islandora-solr-facet a{color: #185ea2;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;}
.islandora-solr-facet a:hover {color: #cf6108;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;}
#block-islandora-solr-basic-facets h4{color: #004990;}
.islandora-solr-facet .count {color:#185ea2;}
#block-islandora-solr-sort .block-title {
    border-bottom: 4px solid #004990;}

/*----ISLANDORA COLLECTIONS/OBJECTS-----*/
/* Collection Description Styles */
#secondary-content-wrapper .block-inner { background-color: #ffffff; color: black; text-shadow: none; }

/* COLLECTION BROWSE STYLES -"SEARCH THIS COLLECTION" BOX */
#local-collection-search #local-search-container, #secondary-content-wrapper #local-search-container {color: #dfaa1d; border: 1px solid #cf6108; background-color: #ffffff; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
#local-search-container .local-collection-search-title h2{color:#cf6108;}


/*Additional tweaks*/
input.form-button, input.form-submit {
    padding: 3px 11px;}/*Go button mod*/


/*audio/video template jwplayer size DO NOT REMOVE */
@media all and (min-width: 768px) {
body.no-sidebars div.islandora-audio-content {
    float: none;
    width: 480px;
}}
@media all and (min-width: 768px) {
body.no-sidebars div.islandora-video-content {
    float: none;
    width: 480px;
}}

div.region-three-33-top {
    margin: 0 20px;
    padding: 0 0 0;
} 